.container {
  margin-top: 30px;
}

table {
  table-layout: fixed;
  width: 1200px;
  border-collapse: collapse;
  border: 5px solid black ;
}

table td {
  width: 300px;
  border: 2px solid black;
  text-align: center;
}

table td:first-child {
  text-align: left;
}

img {
  width: 250px;
  height: 150px;
  border-radius: 10%;
}

a {
  text-decoration: none;
}
