table {
  table-layout: fixed;
  width: 1200px;
  border-collapse: collapse;
  border: 5px solid black ;
}

table td {
  width: 300px;
  border: 2px solid black;
  text-align: center;
}

table td:first-child {
  text-align: left;
}
